/* Don't change the existing CSS. */

.box {
  background-color: rgb(0, 0, 255);
  padding: 10px;
}

p {
  color: rgb(253, 253, 0);
  margin: 0;
  padding: 0px;
}
.white-text{
  
  color: rgb(255, 255, 255);
  padding: 5px;
  font-size: larger;
  
  

}
#outer-box{
  background-color: purple;
}
.inner-box{
  background-color: red ;
}
